
/* Phones */
$sm: (max-width: 767px);

/* Tablets */
$md: (min-width: 768px);

/* laptops */
$lg: (min-width: 992px);

/* Desktops */
$xlg: (min-width: 1200px);



/*

@media #{$sm} {} 

@media #{$md} {} 

@media #{$lg} {} 

@media #{$xlg} {} 

*/


